[submodule "algorithms/hnswlib"]
	path = algorithms/hnswlib
	url = https://github.com/k16diablo/hnswlib
[submodule "algorithms/ADA-NNS/hnswlib"]
	path = algorithms/ADA-NNS/hnswlib
	url = https://github.com/k16diablo/hnswlib
