[submodule "DiskANN"]
	path = DiskANN
	url = https://github.com/SNU-ARC/DiskANN
	branch = ADA-NNS
[submodule "efanna_graph"]
	path = efanna_graph
	url = https://github.com/SNU-ARC/efanna_graph
	branch = ADA-NNS
[submodule "nsg"]
	path = nsg
	url = https://github.com/SNU-ARC/nsg
	branch = ADA-NNS
[submodule "SSG"]
	path = SSG
	url = https://github.com/SNU-ARC/SSG
	branch = ADA-NNS
[submodule "TOGG"]
	path = TOGG
	url = https://github.com/SNU-ARC/TOGG
  branch = ADA-NNS
